---
permalink: /feed.xml
eleventyExcludeFromCollections: true
metadata:
  language: "en-au"
  title: "Poor Choices"
  subtitle: "A growing archive of regrets, in the writers' own words."
  author:
    name: "The Committee for Decisions Already Made"
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ metadata.language }}">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ "/feed.xml" | absoluteUrl(site.url) }}" rel="self" type="application/atom+xml" />
  <link href="{{ site.url }}/" />
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ site.url }}/</id>
  <author>
    <name>{{ metadata.author.name }}</name>
  </author>
  <rights>Each regret remains the property of its regretter.</rights>
  {%- for post in collections.posts %}
  {%- set absolutePostUrl = post.url | absoluteUrl(site.url) %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}" />
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <author>
      <name>{{ post.data.author }}</name>
    </author>
    {%- if post.data.dek %}
    <summary>{{ post.data.dek }}</summary>
    {%- endif %}
    {%- for t in post.data.tags | realTags %}
    <category term="{{ t }}" />
    {%- endfor %}
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | safe }}</content>
  </entry>
  {%- endfor %}
</feed>
